{% extends "layout_admin.html.twig" %}

{% block titletop %}
    Admin
{% endblock %}

{% block content %}

    <div class="text-center py-1 my-10 module-news double_lines">
        <h1>DEVMODE SYMFONY SYSTEM ADMIN </h1>
    </div>

{% endblock %}
