{% extends "layout_admin.html.twig" %}

{% block titletop %}
    {{ "Administratorzy"|trans }}
{% endblock %}

{% block content %}

    <div class="py-3  border-bottom">
        {% include '/line_none_add_menu.html.twig' with {'route': '_superadmin_admin_add'} %}
    </div>

    {% include '/others/spinner.html.twig'  %}

    <div class="" id="adminsList">

    </div>

    <div class="py-3 border-top border-bottom">
        {% include '/line_none_add_menu.html.twig' with {'route': '_superadmin_admin_add'} %}
    </div>

<script language = "javascript">
  $(document).ready(function(){

        ReloadAdminAdmins();

        $(".reload").on("change", function( e ){
            ReloadAdminAdmins();
        });
  });
</script>

{% endblock %}
