<div class="row">
    <div class="col">
        <a href="javascript:history.back()"><span class="btn btn-dark">{{ "Powrót"|trans }}</span></a>
    </div>
    <div class="col">

    </div>
    <div class="col text-right">
        <button type="submit" class="btn btn-warning">{{ "Zapisz"|trans }}</button>
    </div>
</div>