<div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col text-right">
        <a href="{{ path (route) }}"><span class="btn btn-warning">{{ "Dodaj"|trans }}</span></a>
    </div>
</div>