{% extends "layout_admin.html.twig" %}

{% block titletop %}
    Super Admin
{% endblock %}

{% block content %}

    <div class="text-center py-1 my-10 module-news double_lines">
        <h1>DEMO SYMFONY5 SUPER ADMIN </h1>
    </div>

{% endblock %}
